<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<context:annotation-config />
	<bean id="configuration" class="fr.tbr.iam.configuration.impl.FileBasedConfiguration">
	</bean>
	
	<bean id="dao" class="fr.tbr.iamcore.services.dao.impl.IdentityHibernateDAO" />

	<bean id="runner" class="fr.tbr.iamcore.lauchers.Main">
	</bean>
	
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
		<property name="url" value="jdbc:derby:/db/iamWeb;create=true" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>


	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
	</bean>


	<!-- <bean id="configFileBasedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>
				classpath:hibernateTestTemp.cfg.xml
			</value>
		</property>
	</bean> -->

	<bean id="beanBasedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />
		<property name="hibernateProperties" ref="hibernateProperties" />
		<property name="packagesToScan" value="fr.tbr.iamcore.datamodel" />
	</bean>
	
	

</beans>